[Unit]
Description=FlockSense mmWave service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=junaid
WorkingDirectory=/home/junaid/flocksense-rpi
EnvironmentFile=/home/junaid/flocksense-rpi/.env
ExecStart=/home/junaid/flocksense-rpi/.venv/bin/python -u mmwave_service.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
